body{
    font-family: 'STIX Two Math', serif;
}
h1{
    color: red;
    font-size: 50px;
}
.orange-color{
    color: orange;
    font-size: 30px;
}
.blue-color{
    color:rgba(15, 155, 219, 0.356);
    font-size: 35px;
    font-family: 'Encode Sans SC', sans-serif;
    
}
section{
    display: flex;
    margin-bottom: 400px;
}
.half-width{
    width: 50%;
    padding: 5%;
    height: 10px;
}
.half-width img{
    width: 100%;
    border-radius: 100%;
}
.Button{
    text-decoration: none;
    background-image: linear-gradient(90deg,red, orange);
    padding: 10px 40px;
    border: 5px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.text{
    line-height: 10px;
}
#press{
    padding-top: 15px;
}
#font{
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Fuggles', cursive;
    font-size: 30px;
    font-weight: bold;
}
#style{
    font-family: 'Anton', sans-serif;
    font-size: 8mm;
}
#bold{
    font-size: xx-large;
    font-weight: 800;
}